/*ライトモード*/
:root {
	--main-text: #212121;
	--main-bg: #FAFAFA;
	--main-glow: #FFFFFF;
	--article-bg: #EDEDED;
	--article-border: #959595;
}
/*ダークモードの場合は、次の変数が適用される*/
[data-mode="dark"] {
    --main-text: #FFFFFF;
    --main-bg: #212121;
	--main-glow: #3D3D3D;
    --article-bg: #424242;
	--article-border: #959595;
}