@charset "UTF-8";
html {
  color: var(--main-text);
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  background-color: var(--main-bg);
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 80px;
}
@media (max-width: 480px) {
  main {
    display: block;
    padding: 30px;
  }
}

a {
  transition: 0.25s;
}
a:hover {
  color: var(--main-bg);
  background-color: var(--main-text);
}

footer {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
}

.font-en {
  font-family: "Saira Condensed", sans-serif;
}

/*ライトモード*/
:root {
  --main-text: #212121;
  --main-bg: #FAFAFA;
  --main-glow: #FFFFFF;
  --article-bg: #EDEDED;
  --article-border: #959595;
}

/*ダークモードの場合は、次の変数が適用される*/
[data-mode=dark] {
  --main-text: #FFFFFF;
  --main-bg: #212121;
  --main-glow: #3D3D3D;
  --article-bg: #424242;
  --article-border: #959595;
}

.left-container {
  position: relative;
}

.top__sidebar-box {
  position: fixed;
  width: 22%;
}
@media (max-width: 480px) {
  .top__sidebar-box {
    position: relative;
    width: 100%;
  }
}
.top__sidebar-box .top__main-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
}
@media (max-width: 480px) {
  .top__sidebar-box .top__main-title {
    font-size: 48px;
  }
}
.top__sidebar-box .top__sub-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
}
@media (max-width: 480px) {
  .top__sidebar-box .top__sub-title {
    margin-top: 0;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .top__sidebar-box .top__job_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
}
.top__sidebar-box .top__job {
  margin-top: 10px;
}
.top__sidebar-box .top__category-title {
  margin-top: 40px;
  font-weight: bold;
  position: relative;
}
.top__sidebar-box ul.top__skill-title {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .top__sidebar-box ul.top__skill-title {
    margin-bottom: 40px;
  }
}
.top__sidebar-box ul.top__skill-title li {
  margin: 10px 20px 0 0;
  font-size: 12px;
}
@media (max-width: 480px) {
  .top__sidebar-box ul.top__skill-title li {
    font-size: 10px;
  }
}
.top__sidebar-box ul.top__skill-title li a {
  text-decoration: underline;
}
.top__sidebar-box ul.top__skill-title li a::before {
  content: "# ";
}
.top__sidebar-box ul.top__skill-title li a:hover {
  text-decoration: none;
}
.top__sidebar-box a.top__more-link {
  display: block;
  width: 120px;
  padding: 8px 0;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--main-text);
}
@media (max-width: 480px) {
  .top__sidebar-box .top__theme-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.8);
    transform-origin: right;
  }
  .top__sidebar-box .top__theme-box .top__category-title {
    margin-top: 0;
  }
}
.top__sidebar-box .top__theme-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.top__sidebar-box .top__theme-area svg {
  display: block;
}
.top__sidebar-box .top__button-switch {
  position: relative;
  margin: 0 10px;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background-color: #b1b1b1;
}
.top__sidebar-box .top__button-switch .top__button-switch__input {
  opacity: 0;
}
.top__sidebar-box .top__button-switch .top__button-switch__input:checked + label.top__button-switch__label::before {
  left: 26px;
}
.top__sidebar-box .top__button-switch label.top__button-switch__label {
  position: absolute;
  width: 100%;
  height: 100%;
}
.top__sidebar-box .top__button-switch label.top__button-switch__label::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  display: block;
  content: "";
  background-color: #fff;
  transition: 0.25s;
}

.right-container {
  width: 70%;
}
@media (max-width: 480px) {
  .right-container {
    width: 100%;
  }
}
.right-container .top__list-box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.right-container .top__list-box ul li {
  width: calc(50% - 30px);
  margin-bottom: 60px;
}
@media (max-width: 480px) {
  .right-container .top__list-box ul li {
    width: 100%;
  }
}
.right-container .top__list-box ul li:nth-child(odd) {
  margin-top: -60px;
}
@media (max-width: 480px) {
  .right-container .top__list-box ul li:nth-child(odd) {
    margin-top: 0;
  }
}
.right-container .top__list-box ul li figure {
  position: relative;
  overflow: hidden;
  border-radius: 20px 0;
  transition: 0.75s;
  box-shadow: 0 0 0 1px var(--main-text);
}
.right-container .top__list-box ul li figure img {
  transition: 0.3s;
}
.right-container .top__list-box ul li figure::before, .right-container .top__list-box ul li figure::after {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-radius: 20px 0;
  content: "";
  opacity: 0;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}
.right-container .top__list-box ul li figure::before {
  top: 0;
  left: 0;
  border-top: 2px solid var(--main-text);
  border-left: 2px solid var(--main-text);
}
.right-container .top__list-box ul li figure::after {
  right: 0;
  bottom: 0;
  border-right: 2px solid var(--main-text);
  border-bottom: 2px solid var(--main-text);
}
.right-container .top__list-box ul li figure:hover::before, .right-container .top__list-box ul li figure:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.right-container .top__list-box ul li figure:hover img {
  position: relative;
  z-index: -1;
  transform: scale(1.05);
}
.right-container .top__list-box ul li p {
  margin-top: 10px;
  font-size: 12px;
}
.right-container .top__list-box ul li:hover a {
  color: var(--main-text);
}
.right-container .detail__box .detail__img-area {
  margin-bottom: 40px;
}
.right-container .detail__box .detail__img-area h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.right-container .detail__box .detail__text-area figure.wp-block-image {
  text-align: center;
  margin-bottom: 30px;
}
.right-container .detail__box .detail__text-area figure.wp-block-image img {
  border: 1px solid var(--article-border);
}
.right-container .detail__box .detail__text-area .wp-block-group__inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right-container .detail__box .detail__text-area ul.detail__category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 60px;
}
.right-container .detail__box .detail__text-area ul.detail__category-list li {
  margin-right: 20px;
}
.right-container .detail__box .detail__text-area ul.detail__category-list li a {
  text-decoration: underline;
}
.right-container .detail__box .detail__text-area ul.detail__category-list li a::before {
  content: "# ";
}
.right-container .detail__box .detail__text-area ul.detail__category-list li a:hover {
  text-decoration: none;
}
.right-container .detail__box .detail__text-area dl.detail__field-list {
  display: flex;
  flex-wrap: wrap;
}
.right-container .detail__box .detail__text-area dl.detail__field-list dt {
  width: 100px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
.right-container .detail__box .detail__text-area dl.detail__field-list dd {
  width: calc(100% - 100px);
  margin: 3px 0 20px;
}
.right-container .detail__box .detail__text-area dl.detail__field-list dd a {
  text-decoration: underline;
}
.right-container .detail__box .detail__text-area dl.detail__field-list dd a:hover {
  text-decoration: none;
}

.right-container .detail__box.about .detail__text-area h1 {
  font-family: "Saira Condensed", "Noto Sans JP", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
}
.right-container .detail__box.about .detail__text-area h2 {
  font-family: "Saira Condensed", "Noto Sans JP", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.right-container .detail__box.about .detail__text-area article p {
  line-height: 2;
  margin-bottom: 1em;
}
.right-container .detail__box.about .detail__text-area article p:last-of-type {
  margin-bottom: 0;
}
.right-container .detail__box.about .detail__text-area article.first-block {
  width: 33vw;
  margin-bottom: -160px;
  font-size: 105%;
}
.right-container .detail__box.about .detail__text-area article.profile-block {
  position: relative;
  margin-top: 60px;
}
.right-container .detail__box.about .detail__text-area article.profile-block figure {
  border-radius: 40px 0;
  overflow: hidden;
}
.right-container .detail__box.about .detail__text-area article.profile-block figure.prof01_img {
  width: 24vw;
  height: 24vw;
  margin-bottom: 4vw;
  margin-left: auto;
}
@media (max-width: 480px) {
  .right-container .detail__box.about .detail__text-area article.profile-block figure.prof01_img {
    width: 33vw;
    height: 33vw;
    margin-bottom: 16vw;
  }
}
.right-container .detail__box.about .detail__text-area article.profile-block figure.prof02_img {
  position: absolute;
  top: 10vw;
  z-index: 0;
  width: 33vw;
  height: 44vw;
}
@media (max-width: 480px) {
  .right-container .detail__box.about .detail__text-area article.profile-block figure.prof02_img {
    top: 12vw;
    width: 45vw;
    height: 60vw;
  }
}
.right-container .detail__box.about .detail__text-area article.profile-block .prof_text {
  position: relative;
  z-index: 1;
  width: 60%;
  max-width: 500px;
  padding: 40px;
  margin-left: auto;
  font-size: 14px;
  border: 1px solid var(--main-text);
  border-radius: 40px 0;
  background-color: var(--article-bg);
}
@media (max-width: 480px) {
  .right-container .detail__box.about .detail__text-area article.profile-block .prof_text {
    width: 85%;
    max-width: 500px;
    padding: 30px;
  }
}
.right-container .detail__box.about .detail__text-area article.strengths-block {
  margin-top: 100px;
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li {
  position: relative;
  width: 48%;
  padding: 40px;
  margin-bottom: 60px;
  border: 1px solid var(--main-text);
  border-radius: 40px 0;
  background-color: var(--article-bg);
}
@media (max-width: 480px) {
  .right-container .detail__box.about .detail__text-area article.strengths-block ol li {
    width: 100%;
    padding: 25px;
    margin-bottom: 30px;
  }
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li:nth-of-type(2n) {
  top: 100px;
}
@media (max-width: 480px) {
  .right-container .detail__box.about .detail__text-area article.strengths-block ol li:nth-of-type(2n) {
    top: 0;
  }
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li figure {
  position: absolute;
  top: -2vw;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  max-width: 180px;
  height: 12vw;
  max-height: 180px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--main-text);
  background-color: var(--main-bg);
}
@media (max-width: 480px) {
  .right-container .detail__box.about .detail__text-area article.strengths-block ol li figure {
    top: -6vw;
    width: 40vw;
    height: 40vw;
  }
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li figure img {
  display: block;
  width: 60%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li h3 {
  margin-bottom: 20px;
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li h3 em {
  display: block;
  font-style: normal;
  font-size: 64px;
  font-weight: bold;
}
.right-container .detail__box.about .detail__text-area article.strengths-block ol li h3 span {
  display: block;
  font-weight: bold;
  font-size: 24px;
}
.right-container .detail__box.about .detail__text-area article.skill_set-block h2 {
  margin-top: 100px;
}
.right-container .detail__box.about .detail__text-area article.skill_set-block ul {
  display: flex;
  flex-wrap: wrap;
}
.right-container .detail__box.about .detail__text-area article.skill_set-block ul li {
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Saira Condensed", "Noto Sans JP", sans-serif;
  color: var(--main-bg);
  background-color: var(--main-text);
  border-radius: 10px 0;
}/*# sourceMappingURL=main.css.map */